.accessoryDesc {
	text-transform: uppercase;
	color: gray;
}

.accessoryDesc .accName {
	overflow: hidden;
	height: 1.5rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.accessoryDesc .accPrice {
	font-size: 1.25rem;
}