/* page style */
.contact {
  flex: 8;
  text-align: center;
  margin-top: 20px;
  font-family: "Arial", "Montserrat", sans-serif;
  width: 100%;
  background-color: #fff;
}

.contact h1 {
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 1px;
}

.contact ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-top: 2em;
  /* em = font size */
  gap: 10px;
  text-align: left;
  margin-bottom: 1 em;
  margin-left: 0;
}

.contact h5 {
  text-transform: uppercase;
}

.contact form {
  max-width: 600px;
  margin-top: 60px;
  margin-left: 30px auto;
  margin-bottom: 40px;
}

.contact .topText p {
  font-family: "Sailec", "Arial", "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  max-width: 450px;
  margin: auto;
}

.contact .bottomText {
  margin: 30px;
  margin-bottom: 40px;
  text-align: left;
}

.contact .bottomText p {
  font-family: "Sailec", "Arial", "Montserrat", sans-serif;
  font-size: medium !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-align: left;
  margin: auto;
}

.contact .socialMedia {
  margin-top: 5%;
  margin-bottom: 5%;
}

.contact .helpCard h5 {
  text-align: left;
  padding-left: 5%;
}

.contact img {
  max-width: 300px;
  max-height: 300px;
  margin-top: 80px;
}

/* icons style */

.contact .icon {
  font-size: 30px;
  color: var(--bikehouse-blue);
  opacity: 0.8;
}

/* .contact .bi-arrow-left,
.contact .bi-arrow-right {
  padding-top: -50px;
} */

/* carousel style */

.contact .carousel {
  position: relative;
  width: 445px;
  height: 120px;
  object-fit: scale-down;
  background-color: #f0f0f0;
  color: var(--bikehouse-blue);
  padding-top: 3%;
  padding-left: 20%;
  font-size: x-large;
}

/* form style  */

.contact .form-group input {
  font-size: 20px;
  font-weight: lighter;
  border: none;
  background-color: #f0f0f0;
  color: #465347 !important;
  margin: 10px auto;
  padding: 16px 30px;
  border-radius: 10px;
  transition: 0.2s;
}

.contact .form-group textarea {
  height: 180px;
  font-size: 20px;
  font-weight: lighter;
  border: none;
  background-color: #f0f0f0;
  color: #465347 !important;
  padding: 16px 30px;
  border-radius: 10px;
  transition: 0.2s;
}

/* button style */

.contact .btn {
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 20px;
  padding: auto;
  margin: auto;
  background-color: var(--bikehouse-blue);
  opacity: 0.8;
}

.contact .btn:hover {
  opacity: 1;
}

/* link style */

.contact .link {
  float: right;
  font-weight: bold;
}

.contact a {
  color: var(--bikehouse-blue);
  opacity: 0.8;
}

.contact a:hover {
  color: #274b5a;
  opacity: 1;
  text-decoration: none;
}

.plain {
  text-decoration: none;
}

/* Form check styles*/

.contact .form-check {
  padding: 0;
  text-align: left;
}

.contact .form-check label {
  vertical-align: top;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 15px;
  color: #606060;
  font-size: 14px;
}

/* Switch styles */

/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
} */

/* Hide default HTML checkbox */
/* .switch input {
  display: none;
} */

/* The slider */
/* .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--bikehouse-blue) ;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00b73d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
} */
