.guide ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-top: 2em;
  /* em = font size */
  gap: 10px;
  text-align: left;
  margin-bottom: 1em;
  margin-left: 0;
}

.guide body {
  position: relative;
}

.guide {
  margin-top: 3vh;
  display: flex;
}

.guide .guideNavbar {
  margin-left: 25px;
  text-align: center;
  flex: 2;
}

.guide .page {
  flex: 8;
  text-align: left;
  margin-right: 20px;
  padding-left: 50px;
}
