.header {
  padding: 2vh;
  text-align: center;
  background: var(--bikehouse-blue);
  color: white;
  display: flex;
  height: 17vh;
}

.logo {
  position: relative;
  margin-left: 0px;
  margin-top: 0px;
  left: 0;
  right: 0;
  text-align: left;
}

.text {
  flex: 10;
  margin-left: -100px;
  text-align: center;
  font-family: "custom_bangela";
}
