.header {
  padding: 20px;
  text-align: center;
  background: #269faf;
  color: white;
  display: flex;
}

.login-button {
  position: absolute;
  margin-right: 200px;
  margin-top: -60px;
  left: 0;
  right: 0;
  text-align: right;
  z-index: 1;
}

.register-button {
  position: absolute;
  margin-right: 60px;
  margin-top: -60px;
  left: 0;
  right: 0;
  text-align: right;
  z-index: 1;
}

.logo {
  position: absolute;
  margin-left: 20px;
  margin-top: 0px;
  left: 0;
  right: 0;
  text-align: left;
  flex: 2;
}

.text {
  flex: 6;
  margin-left: 200px;
  text-align: center;
}

.buttons {
  flex: 2;
  margin-top: 50px;
}
