.infoPage
  .MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.addBasket {
  max-width: 200px;
  margin-top: 30px;
  background-color: #2e6076;
}

.infoPage
  .MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButtonBase-root.addBasket:hover {
  max-width: 200px;
  margin-top: 30px;
  color: black;
  background-color: gold;
}
