.listings .row {
	margin: 0
}

.listings .filtersPanel{
	background-color: rgb(229, 229, 229);;
	padding: 0;
 }

.listings .filtersTitle {
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0;
	font-weight: bold;
	font-size: 1.1rem;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

.listings .textField {
	max-width: 100%;
}

.listings .accordion-body {
	padding: 3%;
}

.listings .accordion-header {
	margin: 0;
	margin-top: -0.4rem;
}

.listings .accordion-button {
	padding: 3%;
	width: 100%;
	background-color: whitesmoke;
	border: 0;
	font-size: 1rem;
	text-align: left;
}
  
.listings .accordion-button:focus {
	box-shadow: none;
}

.listings .form-select {
    width: 70%;
}

.listings .applyBtnCol {
	padding: 0;
}

.listings .applyBtn {
	width: 100%;
	border-radius: 0;
}

