.orderSummary .thankYou .row {
	margin: 0rem 7rem;
}

.orderSummary hr {
	margin: 1rem 7rem;
}

.orderSummary .thankYou {
	margin-top: 2rem;
	user-select: none;
	font-size: 3rem;
	font-family: Merienda One;
}

.orderSummary .thankYou span {
	font-size: 1.15rem;
	font-family: Helvetica, Arial;
}

.orderSummary .itemImage {
	object-fit: contain;
	height: 8rem;
	width: 10rem;
}

.orderSummary .listingListItem {
	font-size: 1rem;
	padding: 1.5rem;
	max-width: 100%;
}

.orderSummary .listingsGroup {
	margin: 2rem 4rem;
	margin-bottom: 4rem;
	padding: 2rem;
    border: 2px solid rgba(0,0,0,.125);
	border-radius: 6px;
}

.orderSummary .orderInfoText {
	text-transform: uppercase;
}

.orderSummary .orderInfoTextSmall {
	font-size: 0.85rem;
}