.orderSummary .row {
	margin: 0rem 7rem;
}

.orderSummary hr {
	margin: 1rem 7rem;
}

.orderSummary .thankYou {
	margin-top: 2rem;
	user-select: none;
	font-size: 3rem;
	font-family: Merienda One;
}

.orderSummary .thankYou span {
	font-size: 1.15rem;
	font-family: Helvetica, Arial;
}

