.photoguide ul {
  display: flex;
  flex-direction: column;
  list-style-type: disc;
  margin-top: 2em;
  /* em = font size */
  gap: 10px;
  text-align: left;
  margin-bottom: 1em;
  margin-left: 0;
}

.photoguide body {
  position: relative;
}

.photoguide {
  margin-top: 3vh;
  display: flex;
}

.photoguide .guideNavbar {
  text-align: center;
  margin-left: 25px;
  flex: 2;
}

.photoguide .page {
  flex: 8;
  text-align: left;
  margin-right: 20px;
  padding-left: 50px;
}

.photoguide img {
  max-width: 500px;
  max-height: 500px;
}
