.sellBike {
  margin-left: 250px;
  margin-right: 250px;
}

.sellBike .initialText {
  margin-top: 30px;
  text-align: left;
  font-weight: normal;
}

.sellBike .custom {
  width: 50px;
  margin-left: 16px;
}

.sellBike .warning p {
  font-weight: bold;
}

.sellBike .steps {
  width: 100%;
  display: flex;
  text-align: center;
}

.sellBike .dragndrop {
  text-align: center;
}

.sellBike .navbar_state {
  margin-top: 30px;
}

.sellBike .navbar_state a.nav-link {
  color: var(--bikehouse-blue);
  border-color: var(--bikehouse-blue) var(--bikehouse-blue)
    var(--bikehouse-blue);
}

.sellBike .navbar_state .nav-item {
  margin-right: 50px;
}

.sellBike .navbar_state a.nav-link.active {
  color: #ffffff;
  background-color: var(--bikehouse-blue);
}

.sellBike .next {
  background-color: var(--bikehouse-blue);
  width: 50px;
}

.sellBike .next:hover {
  background-color: rgb(217, 221, 0);
  color: black;
}

.sellBike .boost_now {
  background-color: var(--bikehouse-blue);
}

.sellBike .boost_now:hover {
  background-color: rgb(217, 221, 0);
  color: black;
}

.sellBike .form-check {
  margin-left: 50px;
  margin-bottom: 10px;
}

.sellBike .modal_verification {
  text-align: center;
  max-width: 200px;
  max-height: 100px;
  margin-top: 0px;
}

.sellBike .photo_guide {
  position: absolute;
  margin-left: 68%;
  margin-top: 12%;
  max-width: 175px;
  max-height: 100px;
}

.sellBike .card {
  margin-left: 150px;
  margin-right: 150px;
}

.sellBike .rocket {
  position: absolute;
  margin-left: 80%;
  max-width: 100px;
  max-height: 100px;
}

.sellBike .close_button {
  line-height: 1;
  border-radius: 1rem;
  padding: 0.1rem 0.3rem;
}
