@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --bikehouse-blue: #2e6076;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 3em;
  line-height: 1.2;
  background: var(--bikehouse-blue);
  color: white;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  box-shadow: 0 5px 10px #ccc;
}

.back-to-top:hover {
  background: rgb(217, 221, 0);
  color: black;
}
